.home {
  /* background-color: black; */
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  

  padding-bottom: 10px;
}

.divBanner {
  display: flex;
  justify-content: center;
}

.banner {
  background-size: cover;
  margin: 9px 0;
  max-width: 70%;
  height: auto;
  border-radius: 10px;
}

.menu {
  margin-left: 15%;
  margin-right: 15%;
}

.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-image: linear-gradient(#8949db, #00b0c8);
  /* background-color: #00b0c8; */
  border: 1px solid #00b0c8;
}

.buttonForm {
  margin: 5px;
  padding: 5px;
  border-radius: 7px;
  color: yellowgreen;
  background-color: black;
  border: none;
}
