.filter {
  display: flex;
  align-items: center;
}

.filter p {
  margin-right: 10px;
  font-weight: 500;
  font-size: 20px;
}

.refresh {
  background-color: rgba(240, 248, 255, 0.479);
  font-family: "Teko", sans-serif;
  font-size: 20px;
  display: grid;
  color: black;
  border-radius: 50%;
  transition: all 300ms ease;
}

.refresh:hover {
  transform: rotate(180deg);
}

.select {
  margin: 0 1px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.479);
  font-family: "Teko", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

/* .select:hover {
  background-color: #00b1c89c;
} */

.select option {
  font-family: "Teko", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
